body {
    background-color: #D6FFE9;
}
#icon {
    width: 150px;
}
h1 {
    font-size: 40;
    color: #525252;
    position: relative;
    top: -20;
}
#divider01:not(:last-child) {
    margin-bottom: 1.25rem !important;
    position: relative;
    top: -20px;
}
#first {
    position: relative;
    background-color: white;
    width: 30%; 
    height: 75%;
    bottom: -80;
    border: 2px solid black;
    border-radius: 4px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
#second {
    position: relative; 
    bottom: -25;
}
input {
    position: relative;
    top: -20px;
    height: 40px;
    width: 260px;
    color: #878787;
}
button {
    position: relative;
    top: -25px;
    width: 120px;
    height: 35px;
    background-color: #3299E3;
    color: white;
    border: 2px solid #3299E3;
    border-radius: 4px;
}
p {
    position: relative;
    top: -20px;
}